<?xml version='1.0' encoding='utf-8'?>
<robot name="insta360_one_rs_1inch360">
  <link name="one_rs_1inch360_link">
    <inertial>
      <origin xyz="0 0 0.06465" rpy="0 0 0" />
      <mass value="0.239" />
      <inertia ixx="0.000389345539167" iyy="0.000381777405" izz="0.000105169759167" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual name="aperture">
      <geometry>
        <mesh filename="../assets/meshes/visual/aperture.obj" scale="1 1 1" />
      </geometry>
      <material name="aperture">
        <color rgba="0.006000 0.008000 0.012000 1.000000" />
      </material>
    </visual>
    <visual name="coating_edge">
      <geometry>
        <mesh filename="../assets/meshes/visual/coating_edge.obj" scale="1 1 1" />
      </geometry>
      <material name="coating_edge">
        <color rgba="0.075000 0.090000 0.120000 1.000000" />
      </material>
    </visual>
    <visual name="control">
      <geometry>
        <mesh filename="../assets/meshes/visual/control.obj" scale="1 1 1" />
      </geometry>
      <material name="control">
        <color rgba="0.130000 0.140000 0.155000 1.000000" />
      </material>
    </visual>
    <visual name="display_edge">
      <geometry>
        <mesh filename="../assets/meshes/visual/display_edge.obj" scale="1 1 1" />
      </geometry>
      <material name="display_edge">
        <color rgba="0.115000 0.126000 0.144000 1.000000" />
      </material>
    </visual>
    <visual name="glass_coating">
      <geometry>
        <mesh filename="../assets/meshes/visual/glass_coating.obj" scale="1 1 1" />
      </geometry>
      <material name="glass_coating">
        <color rgba="0.025000 0.047000 0.040000 1.000000" />
      </material>
    </visual>
    <visual name="glass_outer">
      <geometry>
        <mesh filename="../assets/meshes/visual/glass_outer.obj" scale="1 1 1" />
      </geometry>
      <material name="glass_outer">
        <color rgba="0.035000 0.045000 0.058000 1.000000" />
      </material>
    </visual>
    <visual name="grip_ridge">
      <geometry>
        <mesh filename="../assets/meshes/visual/grip_ridge.obj" scale="1 1 1" />
      </geometry>
      <material name="grip_ridge">
        <color rgba="0.077000 0.084000 0.094000 1.000000" />
      </material>
    </visual>
    <visual name="housing">
      <geometry>
        <mesh filename="../assets/meshes/visual/housing.obj" scale="1 1 1" />
      </geometry>
      <material name="housing">
        <color rgba="0.115000 0.120000 0.132000 1.000000" />
      </material>
    </visual>
    <visual name="housing_face">
      <geometry>
        <mesh filename="../assets/meshes/visual/housing_face.obj" scale="1 1 1" />
      </geometry>
      <material name="housing_face">
        <color rgba="0.092000 0.099000 0.108000 1.000000" />
      </material>
    </visual>
    <visual name="housing_lens_head">
      <geometry>
        <mesh filename="../assets/meshes/visual/housing_lens_head.obj" scale="1 1 1" />
      </geometry>
      <material name="housing_lens_head">
        <color rgba="0.190000 0.200000 0.220000 1.000000" />
      </material>
    </visual>
    <visual name="lens_barrel">
      <geometry>
        <mesh filename="../assets/meshes/visual/lens_barrel.obj" scale="1 1 1" />
      </geometry>
      <material name="lens_barrel">
        <color rgba="0.060000 0.068000 0.078000 1.000000" />
      </material>
    </visual>
    <visual name="lens_ring">
      <geometry>
        <mesh filename="../assets/meshes/visual/lens_ring.obj" scale="1 1 1" />
      </geometry>
      <material name="lens_ring">
        <color rgba="0.190000 0.205000 0.225000 1.000000" />
      </material>
    </visual>
    <visual name="marking">
      <geometry>
        <mesh filename="../assets/meshes/visual/marking.obj" scale="1 1 1" />
      </geometry>
      <material name="marking">
        <color rgba="0.720000 0.730000 0.750000 1.000000" />
      </material>
    </visual>
    <visual name="marking_dark">
      <geometry>
        <mesh filename="../assets/meshes/visual/marking_dark.obj" scale="1 1 1" />
      </geometry>
      <material name="marking_dark">
        <color rgba="0.450000 0.460000 0.480000 1.000000" />
      </material>
    </visual>
    <visual name="marking_dim">
      <geometry>
        <mesh filename="../assets/meshes/visual/marking_dim.obj" scale="1 1 1" />
      </geometry>
      <material name="marking_dim">
        <color rgba="0.400000 0.420000 0.450000 1.000000" />
      </material>
    </visual>
    <visual name="mount_metal">
      <geometry>
        <mesh filename="../assets/meshes/visual/mount_metal.obj" scale="1 1 1" />
      </geometry>
      <material name="mount_metal">
        <color rgba="0.270000 0.285000 0.310000 1.000000" />
      </material>
    </visual>
    <visual name="optical_glass">
      <geometry>
        <mesh filename="../assets/meshes/visual/optical_glass.obj" scale="1 1 1" />
      </geometry>
      <material name="optical_glass">
        <color rgba="0.008000 0.014000 0.020000 1.000000" />
      </material>
    </visual>
    <visual name="record_red">
      <geometry>
        <mesh filename="../assets/meshes/visual/record_red.obj" scale="1 1 1" />
      </geometry>
      <material name="record_red">
        <color rgba="0.570000 0.032000 0.048000 1.000000" />
      </material>
    </visual>
    <visual name="rubber">
      <geometry>
        <mesh filename="../assets/meshes/visual/rubber.obj" scale="1 1 1" />
      </geometry>
      <material name="rubber">
        <color rgba="0.065000 0.075000 0.085000 1.000000" />
      </material>
    </visual>
    <visual name="screen">
      <geometry>
        <mesh filename="../assets/meshes/visual/screen.obj" scale="1 1 1" />
      </geometry>
      <material name="screen">
        <color rgba="0.015000 0.019000 0.027000 1.000000" />
      </material>
    </visual>
    <visual name="seam">
      <geometry>
        <mesh filename="../assets/meshes/visual/seam.obj" scale="1 1 1" />
      </geometry>
      <material name="seam">
        <color rgba="0.025000 0.030000 0.035000 1.000000" />
      </material>
    </visual>
    <collision name="body">
      <geometry>
        <mesh filename="../assets/meshes/collision/body.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="front_lens">
      <geometry>
        <mesh filename="../assets/meshes/collision/front_lens.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="rear_lens">
      <geometry>
        <mesh filename="../assets/meshes/collision/rear_lens.stl" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
  <link name="one_rs_1inch360_mount" />
  <joint name="one_rs_1inch360_mount_fixed" type="fixed">
    <parent link="one_rs_1inch360_link" />
    <child link="one_rs_1inch360_mount" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="one_rs_1inch360_rear_lens_surface" />
  <joint name="one_rs_1inch360_rear_lens_surface_fixed" type="fixed">
    <parent link="one_rs_1inch360_link" />
    <child link="one_rs_1inch360_rear_lens_surface" />
    <origin xyz="-0.02475 0 0.1031814" rpy="-1.57079632679 0 1.57079632679" />
  </joint>
  <link name="one_rs_1inch360_front_lens_surface" />
  <joint name="one_rs_1inch360_front_lens_surface_fixed" type="fixed">
    <parent link="one_rs_1inch360_link" />
    <child link="one_rs_1inch360_front_lens_surface" />
    <origin xyz="0.02475 0 0.1031814" rpy="-1.57079632679 0 -1.57079632679" />
  </joint>
</robot>