<?xml version='1.0' encoding='utf-8'?>
<robot name="go2_charging_case">
  <link name="go2_charging_case_link">
    <inertial>
      <origin xyz="0 0 0.03405" rpy="0 0 0" />
      <mass value="0.0635" />
      <inertia ixx="3.69880091667e-05" iyy="2.82567591667e-05" izz="1.61633958333e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual name="front_polymer">
      <geometry>
        <mesh filename="../assets/meshes/visual/front_polymer.obj" scale="1 1 1" />
      </geometry>
      <material name="front_polymer">
        <color rgba="0.930000 0.935000 0.925000 1.000000" />
      </material>
    </visual>
    <visual name="gasket">
      <geometry>
        <mesh filename="../assets/meshes/visual/gasket.obj" scale="1 1 1" />
      </geometry>
      <material name="gasket">
        <color rgba="0.120000 0.135000 0.145000 1.000000" />
      </material>
    </visual>
    <visual name="housing">
      <geometry>
        <mesh filename="../assets/meshes/visual/housing.obj" scale="1 1 1" />
      </geometry>
      <material name="housing">
        <color rgba="0.910000 0.915000 0.905000 1.000000" />
      </material>
    </visual>
    <visual name="rear_polymer">
      <geometry>
        <mesh filename="../assets/meshes/visual/rear_polymer.obj" scale="1 1 1" />
      </geometry>
      <material name="rear_polymer">
        <color rgba="0.870000 0.885000 0.875000 1.000000" />
      </material>
    </visual>
    <visual name="silver">
      <geometry>
        <mesh filename="../assets/meshes/visual/silver.obj" scale="1 1 1" />
      </geometry>
      <material name="silver">
        <color rgba="0.670000 0.710000 0.735000 1.000000" />
      </material>
    </visual>
    <visual name="slot">
      <geometry>
        <mesh filename="../assets/meshes/visual/slot.obj" scale="1 1 1" />
      </geometry>
      <material name="slot">
        <color rgba="0.025000 0.033000 0.039000 1.000000" />
      </material>
    </visual>
    <visual name="subtle_print">
      <geometry>
        <mesh filename="../assets/meshes/visual/subtle_print.obj" scale="1 1 1" />
      </geometry>
      <material name="subtle_print">
        <color rgba="0.780000 0.800000 0.790000 1.000000" />
      </material>
    </visual>
    <collision name="body">
      <geometry>
        <mesh filename="../assets/meshes/collision/body.stl" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
  <link name="go2_charging_case_mount" />
  <joint name="go2_charging_case_mount_fixed" type="fixed">
    <parent link="go2_charging_case_link" />
    <child link="go2_charging_case_mount" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
</robot>